@supports (grid-area: auto) {
  /* we weten hier: ondersteuning voor grid-layout */

    body {
      font-family: 'Major Mono Display', monospace;
      position: relative;
      width: 100vw;
      height: 100vw;
      background-image: linear-gradient(45deg, #83C9F4, #FFE6E8, #92B4A7, #FDFFF7);
      background-size: 600% 2000%;
      animation: Overloop 20s ease infinite;
    }

@keyframes Overloop {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
    header{
      position: fixed;
      height: 7rem;
      width: 100vw;
      position: relative;
      font-size: 1.6rem;
      z-index: 1;
    }

    .link{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 5rem;
        margin-right: auto;
        text-decoration: none;
        color: black;
        opacity: 1;
    }

    .link:link{
      opacity: 0.3;
      text-decoration: none;
    }
    .link:hover{
      opacity: 1;
    }
    .link:visited{
      color: black;
    }

    nav{
      position: fixed;
      display: none;
      flex-direction: column;
      width: 100vw;
      background-color: white;
      opacity: 0.9;
      height: 100rem;
      padding-top: 10rem;
      font-size: 3rem;
    }


    .hamburger {
        position: fixed;
        right: 2rem;
        top: 1.5rem;
        display: inline-block;
        width: 3rem;
        height: 1.8rem;
        margin-top: 1rem;
        margin-right: 0.5rem;
        margin-left: 1rem;
        border-top: 0.3rem solid black;
        border-bottom: 0.3rem solid black;
        opacity: 0.3;
    }
    .hamburger:before {
        content: "";
        position: absolute;
        top: 0.7rem;
        right: 0px;
        width: 100%;
        border-top: 0.3rem solid black;
        opacity: 1;
    }

    .hamburger:hover{
      opacity: 1;
    }

    .close {
      position: fixed;
      right: 2.5rem;
      top: 2.5rem;
      width: 2.7rem;
      height: 1.8rem;
      opacity: 0.3;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 2.8rem;
      width: 4px;
      background-color: black;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
    .welkom{
      position: absolute;
      left: 0rem;
      top: -5rem;
      width: 50vw;
      padding: 2rem;
      max-width: 30rem;
    }

    main{
      position: relative;
      width: 100vw;
      height: 100vw;
    }
    h1{
      text-align: center;
      font-family: 'Major Mono Display', monospace;
      font-size: 2rem;
      width: 100vw;
      padding-top: 10rem;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 auto;
      animation:
          typing 5s steps(50, end),
          borderright 0.75s step-end infinite;
        }

      @keyframes typing {
        0% {width: 0%}
        100% {width: 100%}
      }

      @keyframes borderright {
        from, to {border-color: transparent}
        50% { border-color: black;}
      }
    .groot{
      padding: 2rem;
      width:100vw;
      height: 600vh;
    }
    div{
      width: 100vw;
      height: 80vw;
    }
    .titel {
      font-family: 'Major Mono Display', monospace;
      font-weight: 900;
      margin-bottom: 2rem;
      margin-left: 3rem;
    }
    .iframe1{
      position:absolute;
      right: -100vw;
      top:20rem;
      width: 100vw;
      height:40rem;
      border-radius: 3%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    .een{
      width:100vw;
      height:40rem;
    }
    .iframe2{
      position:absolute;
      right: 100vw;
      top: 180vh;
      width: 100vw;
      height:40rem;
      border-radius: 3%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    .twee{
      width:100vw;
      height:40rem;
    }

    .iframe3{
      position:absolute;
      right: -100vw;
      top: 360vh;
      width: 100vw;
      height:40rem;
      border-radius: 3%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    .drie{
      width:100vw;
      height:40rem;
    }
    .iframe4{
      position:absolute;
      right: 100vw;
      top: 500vh;
      width: 100vw;
      height:40rem;
      border-radius: 3%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    .vier{
      width:100vw;
      height:40rem;
      margin-bottom: 50vh;
    }
    h3{
      position: absolute;
      top: 600vh;
      left: 25vw;
      font-family: 'Major Mono Display', monospace;
      font-size: 2rem;
      text-align: center;
    }

    a{
      text-decoration: none;
      color: black;
      opacity: 1;
    }
@media (min-width: 800px){
  body{
    max-width: 100%;
    position: relative;
  }

  nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    right: 2rem;
    height: 0;
    margin-top: 2rem;
    padding-top: 0;
    background-color: white;
    width: 15rem;
    font-size: 2rem;
  }
  h1{
    font-size: 5rem;
  }
  h3{
    font-size: 5rem;
    position: absolute;
    top: 600vh;
    left: 35vw;
  }
  .hamburger {
    display:none;
  }
  .close {
    display: none;
  }
  .titel{
    margin-left: 5rem;
  }
  .iframe1{
    position:absolute;
    right: -100vw;
    top:40rem;
    width: 100vw;
    height:40rem;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .een{
    width:100vw;
    height:40rem;
  }
  .iframe2{
    position:absolute;
    right: 100vw;
    top: 230vh;
    width: 100vw;
    height:40rem;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .twee{
    width:100vw;
    height:40rem;
  }

  .iframe3{
    position:absolute;
    right: -100vw;
    top: 360vh;
    width: 100vw;
    height:40rem;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .drie{
    width:100vw;
    height:40rem;
  }
  .iframe4{
    position:absolute;
    right: 100vw;
    top: 500vh;
    width: 100vw;
    height:40rem;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .vier{
    width:100vw;
    height:40rem;
    margin-bottom: 50vh;
  }
